@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@100&family=Syncopate&family=Zen+Kurenaido&display=swap');

* {
  margin: 0;

  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  text-align: left;
}

#main {
  max-width: 1280px;

  min-height: 100%;

  margin: 0 auto;

  position: relative;
}

li {
  padding: 1%;
  font-family: 'Livvic', sans-serif;
  font-size: 17px;
}

footer {
  background: #ccc;

  position: sticky;

  bottom: 0;

  width: 100%;

  padding-top: 50px;

  height: 50px;
}
a 

{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    border-left-color: blue;
    border-left: 4px solid rgb(16, 74, 235);
}
#titre {
  padding-top: 2%;
  text-align: center;
  font-family: 'Syncopate', sans-serif;
  
}

#sticky {
  display: flex;
  flex-direction: column;
}

.titre {
  padding-top: 3%;
  font-family: 'Syncopate', sans-serif;
  padding-left: 10px;
    border-left-color: blue;
    border-left: 4px solid rgb(16, 74, 235);
  
}

.texte {
  padding-top: 2%;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 19px;
}

.images {
  height: 330px;
  width: 700px;
}

.img {
  padding: 1%;
  border-spacing: 10px;
}

#contenant {
  display: flex;

  justify-content: center;
}

.flexa {
  flex: 33%;
  align-self: center;
}

.flexb {
    flex: 100%;
}
.textimg {
  font-weight: bold;
}

.footerp

{
    text-align: center;
    align-content: center;
}
